/* Alignment styles */

body,
html {
  background-color: #2a6f97;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2a6f97;
  font-family: 'Poppins', sans-serif;
}

svg {
  height: 24px;
  width: 24px;
  margin-left: 80px;
}
svg:hover {
  fill: #0077b6;
  transition: 0.3s;
}

.flip-container {
  perspective: 1000;
}

.flipper {
  padding: 30px;
  width: 300px;
  height: 300px;
  position: relative;
  background: #f5f5f5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.front,
.back {
  /*background-color: rgba(0,0,0,.3);*/
  position: absolute;
  padding: 10px 30px;
  top: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

input {
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
}

.title {
  text-align: center;
}
.flipbutton {
  color: #333;
  text-decoration: none;
  text-align: left !important;
}
.flipbutton a:hover {
  color: #2a6f97;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */
/* 
.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
} */