/* UNIVERSAL RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* CUSTOM VARIABLES IN SCOPE */
:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #444;
}
/* BODY STYLING */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #dadada;
}
a {
  text-decoration: none;
  color: #444;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

/* NAVBAR */
.navbar {
  background: #eee;
  padding: 20px;
  border: 2px solid red;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid blue;
}
.navbar .main-menu ul {
  display: flex;
}
.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}
.navbar ul li a:hover {
  color: #4891ff;
}
.navbar ul li a i {
  margin-right: 10px;
}
.navbar ul li:last-child a {
  margin-left: 10px;
}

/* HERO SECTION */
.hero {
  margin-bottom: 50px;
  border: 2px solid rgb(120, 227, 106);
}
.hero .container {
  background: #a0e8f2;
  height: 250px;
}
.hero .hero-content {
  margin: 0 auto;
}
.hero .hero-text {
  margin-bottom: 20px;
}

/* POSTS SECTION */
.posts {
  padding: 25px 0;
}

/*** UTILITY CLASSES ***/
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--light-color);
  color: #444;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  opacity: 0.8;
}
.btn-dark {
  background: var(--dark-color);
  color: aliceblue;
}
.btn-block {
  background: var(--primary-color);
  color: #444;
}

/* TEXT CLASSES */
.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}
.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}
.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}
.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}
