<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/script.js"></script>
    <title>Forum - Main Page</title>
</head>

<body>
    <header>
        <h1>Welcome to the Forum</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create-post">Create Post</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <main>
        <!-- Display a list of forum posts here -->
        <section class="forum-posts">
            <h2>Latest Posts</h2>
            <ul>
                {{range .Posts}}
                <h3>{{.Title}}</h3>
                <p>{{.Content}}</p>
                <p>Posted by Username: {{.Username}}</p>
                <p> {{.UserID}}</p>
                <form method="POST" action="/add-comment">
                    <input type="hidden" name="post_id" value="{{.ID}}">
                    <input type="text" name="content" placeholder="Add a comment">
                    <button type="submit">Submit</button>
                </form>

                {{end}}
            </ul>
            <!-- Repeat the structure for each post -->
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Your Forum Name</p>
    </footer>
</body>

</html>