<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <section class="post-form">
        <form action="/add-post" method="POST">
            <select name="category">
                <option value="" selected disabled>Category</option>
                <option value="Sport">Sport</option>
                <option value="Nutrition">Nutrition</option>
                <option value="Recovery">Recovery</option>
                <option value="Tech">Tech</option>
            </select>
            <input type="text" placeholder="Title" name="title" />
            <input type="text" placeholder="Content" name="content" />
            <input type="submit" value="Create new post" />
        </form>



    </section>

</body>

</html>