<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
            rel="stylesheet" />
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
        </style>
        <!-- Fontawesome cdnjs.com -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/static/test1.css">
        <title>TEST</title>
    </head>

    <body>
        <nav class="navbar">
            <div class="container">
                <div class="logo">
                    <a href="test1.html"><img src="/static/logo1.png" alt="logo1"></a>
                </div>
                <!-- Nav Menu -->
                <div class="main-menu">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        {{if .IsAuthenticated}}
                        <li><a href="/create-post">Create Post</a></li>
                        <li><a class="btn btn-light" href="/logout"><i
                                    class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a></li>
                        {{else}}
                        <li><a href="/register">Register</a></li>
                        <li><a class="btn btn-light" href="/login"><i
                                    class="fa-solid fa-arrow-right-to-bracket"></i>Login</a></li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- HERO SECTION -->
        <section class="hero">
            <div class="container">
                <div class="hero-content">
                    <h1 class="hero-heading text-xxl">
                        Welcome to the Forum {{.Username}}
                    </h1>
                    <p class="hero-text">
                        Thank you for joining the fastest web commUNITY. This forum is
                        a safe place to discuss all things <span class="3cat">Food, Tech, and Travel</span>. Engage with
                        the community. Our motto: Be Kind &amp; Supportive
                    </p>
                </div>
            </div>
        </section>
        <!-- POSTS -->
        <section class="posts bg-dark">
            <div class="container">
                <h2 class="posts-heading">Latest Posts</h2>
                <ul>
                    {{range .Posts}}
                    <div class="posts-grid">
                        <li>
                            <div class="posts-card">
                                <h3 class="posts-title">{{.Title}}</h3>
                                <p>Category: {{.Category}}</p>
                                <p>{{.Content}}</p>
                                <p>Posted by {{.Username}}</p>
                                <p>Likes: {{.LikeCount}}, Dislikes: {{.DislikeCount}}</p>
                                <div class="posts-like">
                                    <form action="/like-post" method="POST">
                                        <input type="hidden" name="post_id" value="{{.ID}}" />
                                        <input type="hidden" name="action" value="like" />
                                        <button type="submit"><i class="fas "></i></button>
                                    </form>
                                </div>
                                <div class="posts-dislike">
                                    <form action="/dislike-post" method="POST">
                                        <input type="hidden" name="post_id" value="{{.ID}}" />
                                    </form>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </section>

    </body>

</html>